.header{
    height:70px;
    display: flex;
    flex-direction: column-reverse
    justify-content: space-between;
}

#menu-bars{
       
}

#icons-red-social{
    background-color: red;
    

    

}