h1, h2, h3, h4, h5, p{
    color:rgba(55, 56, 103, 1);
    text-align: center;
}
h6{
    color:black;
    text-align: center;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#introduction,#history, #funcionalities, #reasons-why-you-need-us,#request-info,
#final-page{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}


#btn-learn-more{
    display: flex;
    flex-direction: column;
    align-self:center;
}

#first-image{
    width: 217px;
    height:264px;
    margin-top: 30px;
}

#second-image, #third-image{
    height: 150px;
    width:230px;
}

h1{
    font-size: 34px;
    margin-top: 30px;
}

h2{ font-size: 14px;
    margin-top: 15px;
}

.introduction-text, .p-history,.text-images{
    text-align: justify;
    font-size: 11px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}

h3, h4, h5, h6{
    font-size: 28px;
    margin-top:30px;
    margin-bottom: 15px;
}

.first-box, .second-box, .third-box, .fourth-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-landing{
    margin-bottom: 10px;
    align-self: flex-start;
}


.subtitles-images{
    text-align: center;

}

.first-box, .second-box, .third-box, .fourth-box{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 1280px) {
    #introduction{
        flex-direction: row-reverse;
        align-items: center;}
    #history{
        align-items: flex-end;
    }
    #second-image{
        align-self: flex-start;}
    h3{
        align-self: center;
    }
    #funcionalities{
        flex-direction: row;
    }
    
    #reasons-why-you-need-us{
        flex-direction: row;
    }

    #request-info{
        flex-direction: column;
        justify-content: stretch;
        height: 350px;
    }
    .request-boxes1, .request-boxes2, .request-boxes3, .send-me{
        display: flex;
        flex-direction: row;
        height: 35px;
    }
    .request-boxes1{
        margin-top: 30px;
        width: 450px;
        justify-content: space-between;
    }
    .send-me{
        margin-left: 330px;
    }
    .category{
        width: 450px;
        flex-direction: column;
    }
    #seleccionable{
        width: 450px;
    }
    .box-text, .human, .submit{
        width: 450px
    }
    .human, .submit{
        text-align: right;
        margin-top: 10px;
        height: 35px;
    }

    
}
}


