h1, h2, h3, h4, h5, p{
    color:rgba(55, 56, 103, 1);
    text-align: center;
}

h6{
    color:black;
    text-align: center;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#introduction, #history1, #funcionalities, #reasons-why-you-need-us,#request-info,
#final-page{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

#btn-learn-more{
    display: flex;
    flex-direction: column;
    align-self:center;
}

#first-image{
    width: 400px;
    height:520px;
    margin-top: 30px;
    margin-left: 20px;
    
}

#second-image, #third-image{
    display: flex;
    height: 161px;
    width:360px; 
}


h1{
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    
}

h2{ 
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.introduction-text {
    font-size: 12px;
    margin-top: 24px;
    text-align: center;
}

#btn-learn-more{
    margin-top: 45px;
    margin-left: 140px;

}

.p-history{
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;

}

.container-history{
    background-color: aqua;
    flex-direction: column;
    justify-content: center;
}


h3, h4, h5, h6{
    font-size: 30px;
    margin-top:30px;
    margin-bottom: 15px;
    font-weight: bold;
}

.first-box, .second-box, .third-box, .fourth-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

.images-landing{
    margin-bottom: 10px;
    align-self: flex-start;
    width: 100px;
    height: 100px;
}


.subtitles-images{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.text-images{
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
.first-box, .second-box, .third-box, .fourth-box{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 1024px) {
    #introduction{
        flex-direction: row-reverse;
        align-items: center;}
    #btn-learn-more{
        margin-top: 45px;
        width: 242px;
        height: 38px;
        padding-left: 70px;
        padding-top: 8px;
    }
    #history{
        align-items: flex-end;
    }
     #second-image, #third-image{
        display: flex;
        height: 261px;
        width:420px; 
    }
    #second-image{
    align-self: flex-start;} 
    h3{
        align-self: center;
    }
    #funcionalities{
        flex-direction: row;
    }
    
    #reasons-why-you-need-us{
        flex-direction: row;
    }

    #request-info{
        flex-direction: column;
        justify-content: stretch;
        height: 350px;
    }
    .request-boxes1, .request-boxes2, .request-boxes3, .send-me{
        display: flex;
        flex-direction: row;
        height: 35px;
    }
    .request-boxes1{
        margin-top: 30px;
        width: 450px;
        justify-content: space-between;
    }
    .send-me{
        margin-left: 330px;
    }
    .category{
        width: 450px;
        flex-direction: column;
    }
    #seleccionable{
        width: 450px;
    }
    .box-text, .human, .submit{
        width: 450px
    }
    .human, .submit{
        text-align: right;
        margin-top: 10px;
        height: 35px;
    }
    .conteiner-final-page{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 120px;
    }
    .first-column, .second-column, .third-column{
        display: inline-block;
    }
    .pages{
        text-align: center;
        width: 700px;
    }
    .products, .company, .support{
        list-style: auto;
        font-size: 15px;
        padding-left: 10px;
        padding-top: 4px;
    }
    .text-images{
        font-size: 16px;
    }
    h1{
        font-size: 50px;
        text-align: left;
    }
    h2{ 
        font-size: 24px;
        text-align: left;
    }
    .introduction-text {
        font-size: 18px;
        text-align: left;
    }
    h3, h4, h5, h6{
        font-size: 60px;
    }
    .p-history{
        font-size: 18px;
    }
    .images-landing{
        margin-bottom: 10px;
        align-self: flex-start;
        width: 180px;
        height: 180px;
    }
    


