aside{
    background-color: rgba(175, 175, 194, 1);
    float:left;
    width: 270px;
    height: 100%;
    /*padding-top: 30px;
    padding-bottom: 30px;*/
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
}
p{
  font-size: 12px;
}

@media screen and (min-width: 1280px) {
    aside{
        display: inherit;
      background-color: rgba(175, 175, 194, 1);
    }
  }

.btn-menu{
    display: flex;
    align-self: flex-end; 
    padding-right: 40px;
}
.conteiners-menu{
    background-color: azure;
    flex-direction: column;
    justify-content: center;
}


